extend layout

block css
  link(rel="stylesheet" href="/css/blog/article.css")
  link(rel="stylesheet" href="/css/blog/highlight/tomorrow-night.css")

block content
  section.article
    .article-title
      .article-title-main
        h1= title
        span= time
      .article-title-info
        != "&#xe074; 阅读 "+ visited + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#xe076; 评论 " +page.commentLength
    .article-guid
      .article-guid_in
        span 滚屏阅读
    .article-content
      h1= title
      != content

      if links
        h4 猜你喜欢
        ul
          - each link in links
            li
              a(href="/blog/"+link[0])= link[1].title
      blockquote.article-declaration
        p 本文地址
          a(href= url)= url
        p 原创文章，转载请注明出处
          a(href="http://www.zhuwenlong.com") 朱文龙的自留地

    .comment
      form.comment-box(action="/blog/articleComment" method="post")
        input(type="text" name="name" placeholder="Nickname")
        input(type="email" name="email" placeholder="Email")
        input(type="url" name="blog" placeholder="WebSite/Blog")
        input(type="text" name="vcode" placeholder="Verification code" required="required")
        textarea(placeholder="Let's say some thing" name="content")
        //- for system
        input(type="hidden" name="blogid" value= id )
        input(type="hidden" name="url" value= url )
        input(type="hidden" name="title" value= title )
        //- img(src="/verification/img")
        button Post Comment
    .comment-list
      - each commList in comment
        .comment-block
          .comment-block-imgbg
            if(commList.avatar)
              img(src= ""+commList.avatar class="comment-block-avatar" onerror="this.src='/img/avatar/nobody.jpg'" )
            else
              img(src= "/img/avatar/default" + Math.ceil(Math.random()*5) + ".jpg" class="comment-block-avatar" )
          .comment-info
            .comment-info-head
            if commList.name
              if commList.blog
                  a(href=commList.blog class="comment-info-name")= commList.name
              else
                  span(class="comment-info-name")= commList.name
            else
              span(class="comment-info-name") Mofei的好朋友
            span= new Date(commList.time).getFullYear() + '/' + (new Date(commList.time).getMonth()+1)+ '/' + new Date(commList.time).getDate()
            span.comment-info-replay
              a(href="#" cid= commList._id) m回复
            .comment-text= commList.content
block js
  script(src="/js/jquery.cookie.js")
  script(src="/js/blog/article.js")
  script(src="/js/highlightjs/hightlight.js")
  script.
    hljs.initHighlightingOnLoad();
