extend layout

block css
  link(rel="stylesheet" href="/css/blog/blog.css")

block content

  section.blog-list
    .blog-list-nav-box
      ul.blog-list-nav
        li(class=typeof classid=="undefined"?"active":"")
          a(href="/blog")
            span= "全部分类 ("+ total+")"
        if blogClass
          - each classList in blogClass
            li(class=classList.classid==classid?"active":"")
              a(href="/blog/" + classList.classid )
                span= classList.classname + " ("+ classList.classcount + ")"
        span.blog-list-nav-more &#xe120;

    .blog-list-main
      .blog-list-nav-more-list

      if blogList
        - each blog in blogList
          article
            a(href='/blog/' + blog._id class="blogListItem")
              header
                h2= blog.title
                .blog-list-info
                  time
                    span.blog-list-time-icon &#xe014;
                    span= new Date(blog.pubtime).getFullYear() + '/'
                    span= (new Date(blog.pubtime).getMonth()+1)+'/'
                    span= new Date(blog.pubtime).getDate()
                  span.blog-list-visited
                    != ' &#xe074; ' + blog.visited
                  span.blog-list-comment
                    != ' &#xe076; ' + blog.comment
              div.blog-list-intro= blog.content.slice(0,200).replace(/[\#\=\-\*\n\r]/g,'') + ' ...'
      section.blog-list-page
        if(page.current>3)
          a(href='/blog/'+ (classid?classid:0) + '/1' )= 1
          if(page.current!=4)
            a(class="blogpagesellip") ...
        - for(var x=(page.current-2<1?1:page.current-2);x<page.current;x++)
          a(href='/blog/'+ (classid?classid:0) + '/'+x )= x
        a(class="active")= page.current
        - for(var x=page.current+1;x<=(page.total-page.current>2?page.current+2:page.total);x++)
          a(href='/blog/'+ (classid?classid:0) + '/'+x )= x
        if(page.total-page.current>2)
          if(page.total-page.current!=3)
            a(class="blogpagesellip") ...
          a(href='/blog/'+ (classid?classid:0) + '/'+page.total)= page.total
        span= " 共"+ page.total +"页"

block js
  script(src="/js/jquery.cookie.js")
  script(src="/js/blog/blog.js")
