extend layout

block css
  link(rel="stylesheet" href="/css/blog/article.css")
  link(rel="stylesheet" href="/css/blog/highlight/tomorrow-night.css")

block content
  section.article
    .article-title
      .article-title-main
        h1= title
        span= time
      .article-title-info
        != "&#xe074; 阅读 "+ visited + "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#xe076; 评论 " +page.commentLength
    .article-guid 
      .article-guid_in
        span 开始阅读
    .article-content
      h1= title
      != content
      blockquote.article-declaration
        p 本文地址 
          a(href= url)= url
        p 原创文章，转载请注明出处 
          a(href="http://www.zhuwenlong.com") 朱文龙的自留地

    .comment
      form.comment-box(action="/blog/articleComment" method="post")
        input(type="text" name="name" placeholder="Nickname")
        input(type="email" name="email" placeholder="Email")
        input(type="url" name="blog" placeholder="WebSite/Blog")
        input(type="text" name="vcode" placeholder="Verification code" required="required")
        textarea(placeholder="Lat's say some thing" name="content")
        //- for system
        input(type="hidden" name="blogid" value= id )
        input(type="hidden" name="url" value= url )
        input(type="hidden" name="title" value= title )
        //- img(src="/verification/img")
        button Post Comment
    .comment-list
      - each commList in comment
        .comment-block
          if(commList.avatar)
            img(src= ""+commList.avatar class="comment-block-avatar" onerror="this.src='/img/avatar/nobody.jpg'" )
          else
            img(src= "/img/avatar/default" + Math.ceil(Math.random()*5) + ".jpg" class="comment-block-avatar" )
          .comment-info
            .comment-info-head
            if commList.name
              if commList.blog
                  a(href=commList.blog class="comment-info-name")= commList.name 
              else
                  span(class="comment-info-name")= commList.name 
            else
              span(class="comment-info-name") Mofei的好朋友
            span= new Date(commList.time).getFullYear() + '/' + (new Date(commList.time).getMonth()+1)+ '/' + new Date(commList.time).getDate()
            span.comment-info-replay  
              a(href="#" cid= commList._id) m回复
            .comment-text= commList.content

  section.blogContent(style="display:none")
    if content
      article.blogArticle
        header
          h1.blogTitle= title
          time.blogPubTime= time
        div.blogShare 
        //分享按钮
        div.blogCont
          != content
        div.blogAd
          script(async,src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")   
          ins(class="adsbygoogle",style="display:inline-block;width:728px;height:15px",data-ad-client="ca-pub-0645475852185063",data-ad-slot="5359803179")
          script.
            (adsbygoogle = window.adsbygoogle || []).push({});
        footer.blogCopyright 
          p 本文地址 
            a(href= url)= url
          p 原创文章，转载请注明出处 
            a(href="http://www.zhuwenlong.com") 朱文龙的自留地
          div
            span.blogVisited= "r 阅读(" + visited + ") "
            span.blogComment= "c 评论("+page.commentLength+")"
        nav.blogNav
          if prev
            .blogNavPrev 上一篇  
              a(href='/blog/'+prev.id )=  prev.title
          if next
            .blogNavNext 下一篇  
              a(href='/blog/'+next.id )=  next.title
        section.blogCommentBox
          form.bCPost(action="/blog/articleComment" method="post")
            .bCPostTitle 发表新评论
            .bCPostTop
              div.bCPostLeft
                p
                  label 邮箱
                  input(type="email" name="email" placeholder="hello@host.com")
                p
                  label 昵称
                  input(type="text" name="name" placeholder="nickname")
                p
                  label 个人主页
                  input(type="url" name="blog" placeholder="http://www.yourhost.com")
              div.bCPostRight
                textarea(placeholder="吐槽点什么吧" name="content")
            div.bCPostBottom
                label 验证码
                input(type="text" placeholder="U23D" class="bCVcodeI" name="vcode"  required="required")
                input(type="hidden" name="blogid" value= id )
                input(type="hidden" name="url" value= url )
                input(type="hidden" name="title" value= title )
                button 发布留言
          - each commList in comment
            div.bCBlock
              .bCBlockBase
                if(commList.avatar)
                  img(src= ""+commList.avatar class="bCAvatar" onerror="this.src='/img/avatar/nobody.jpg'" )
                else
                  img(src= "/img/avatar/default" + Math.ceil(Math.random()*5) + ".jpg" class="bCAvatar" )
                div.bCInfo
                  div.bCHead
                  if commList.blog
                      a(href=commList.blog class="bCName")= commList.name 
                  else
                      span(class="bCName")= commList.name 
                  span= new Date(commList.time).getFullYear() + '/' + (new Date(commList.time).getMonth()+1)+ '/' + new Date(commList.time).getDate()
                  span.bCREP  
                    a(href="#" class="bCREP" cid= commList._id) m回复
                  div.bCComment= commList.content
    else
      article.blogArticle 糟糕，该博文不存在！
    section.blogInfo
      div.userIcon
        img(src="/img/usericon.png")
      div.userIntr 朱文龙，英文名Z.Mofei，WEB前端工程师、ADOBE中国认证网络设计师，目前供职于百度LBS。这里是我的个人站点，不仅仅是技术，同样记录了我的个人成长的那些事情，也是我的WEB“实验室”，欢迎热衷WEB技术和生活的人与我多多交流，最前端QQ群:95795066。

block js
  script(src="/js/jquery-2.1.1.min.js")
  script(src="/js/blog/article.js")
  script(src="/js/highlightjs/hightlight.js")
  script.
    hljs.initHighlightingOnLoad();
