extend layout

block css
	link(rel="stylesheet" href=host+"/css/message/index.css")

block content
	.message
		.comment
			form.comment-box(action="/api/message" method="post")
				input(type="text" name="name" placeholder="Nickname")
				input(type="email" name="email" placeholder="Email")
				input(type="url" name="blog" placeholder="WebSite/Blog")
				input(type="text" name="vcode" placeholder="Verification code" required="required")
				textarea(placeholder="Let's say some thing" name="content")
				//- img(src="/verification/img")
				button Post Comment
	.comment-list
		- each commList in comment
			.comment-block
				.comment-block-imgbg
					if(commList.avatar)
						img(src= ""+commList.avatar class="comment-block-avatar" onerror="this.src='/img/avatar/nobody.jpg'" )
					else
						img(src= "/img/avatar/default" + Math.ceil(Math.random()*5) + ".jpg" class="comment-block-avatar" )
				.comment-info
					.comment-info-head
						if commList.name
							if commList.blog
								a(href=commList.blog class="comment-info-name")= commList.name
							else
								span(class="comment-info-name")= commList.name
						else
							span(class="comment-info-name") Mofei的好朋友
						- var time = new Date(commList.time)
						span= time.getFullYear() + '/' + (time.getMonth()+1)+ '/' + time.getDate() + ' ' + time.getHours() + ':' + time.getMinutes()+ ':'+ time.getSeconds()
						span.comment-info-replay
							a(href="#" cid= commList._id) m回复
						.comment-text= commList.content

block js
	script(src=host+"/js/jquery.cookie.js")
	script(src=host+"/js/message/message.js")
	
